[submodule ".github/pages"]
	path = .github/pages
	url = https://github.com/JervNorsk/jervnorsk.github.io.git
	branch = github/pages
[submodule "projects/website"]
	path = projects/website
	url = https://github.com/JervNorsk/website.git
	branch = main
[submodule "projects/streaming-digest"]
	path = projects/streaming-digest
	url = https://github.com/JervNorsk/streaming-digest.git
	branch = main
[submodule "extensions/pcg/streaming"]
	path = extensions/pcg/streaming
	url = https://github.com/JervNorsk/pcg-streaming-extension.git
	branch = main
