* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#0F0F77 5%, #3535EC);
    background-attachment: fixed;
}

.piano {}

.piano-panel {
    height: 94px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 24px;

    background-color: #F71469;
    background-image: url("assets/images/panel-reflex.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.piano-panel img {
    width: 160px;
}

.piano-keys {
    height: 190px;

    display: flex;

    /* background-color: black; */
}

.key {}

.key-white {
    width: 64px;
    height: 100%;

    background-color: #FFF;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 6px solid #8C8C8C;
    border-radius: 0 0 8px 8px;
}

.key-white:active {
    background-color: #DDD;
}

.key-black {
    width: 44px;
    height: 60%;

    margin-left: -22px;
    margin-right: -22px;

    background: linear-gradient(#737373 10%, #0D0D0D);
    border-right: 6px solid #000;
    border-left: 6px solid #000;
    border-bottom: 6px solid #000;
    border-radius: 0 0 8px 8px;

    z-index: 2;
}

.key-black:active {
    background-color: #000;
}